---
layout: page
title: Dyscaperoom
subtitle: Entendiendo la dislexia a través de la realidad virtual
use-site-title: true
---
<head>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<div class="content">
  <div class="row section center-align" style="margin:0 auto">
    <!--<i class="fa fa-book fa-2x" aria-hidden="true"></i> -->
    <h2><b>De qué va el proyecto?</b></h2>
    <div class="content-block center-align">
      <p>
        <b>Dyscaperoom</b> tiene como objetivo hacer que la sociedad genere empatía
        hacia el colectivo de las personas disléxicas. Para ello se usa una
        experiencia inmersiva en VR para así hacer sentir frustración y
        ponerse en la piel de las personas disléxicas.
      </p>
    </div>
  </div>


  <div class="row section center-align">
    <div class="col-md-6 col-sd-12" style="margin:0 auto">
      <i class=" fa fa-download fa-2x" aria-hidden="true"></i>
      <h2><b>Descarga el juego!</b></h2>
      <p>Descarga aquí el juego.</p>
      <div class="col-md-4">
        <a href="/descargables/Dyscaperoom.apk" target="_blank"
        class="btn btn-default btn-block btn-lg"><i class="fa fa-android" aria-hidden="true"></i> APK</a>
      </div>
      <div class="col-md-4">
        <a href="/404.html" target="_blank"
        class="btn btn-default btn-block btn-lg"><i class="fa fa-apple" aria-hidden="true"></i> iOS</a>
      </div>
    </div>


    <div class="col-md-6 col-sd-12" style="margin:0 auto">
      <i class="fa fa-code fa-2x" aria-hidden="true"></i>
      <h2><b>Repositorio</b></h2>
      <p>Échale un ojo al código fuente!</p>
        <a href="https://gitlab.com/martiriera/PAEscape" target="_blank"
        class="btn btn-default btn-block btn-lg"><i class="fa fa-gitlab" aria-hidden="true"></i> GitLab Repository</a>
    </div>
  </div>


  <div class="row section center-align">
    <!--<div class="col-md-6 col-sd-12"-->
      <h1>Colaboradores</h1>
    <!--</div>-->
      <img src="/img/colaboradores.jpg" alt="Project Collaborators">
  </div>
</div>



{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
